<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
	<style type="text/css">
		.main
		{
			width: 100px;
			height: 100px;
			background-color: #8B3FDB;
		}
	</style>
</head>

<body>
	<div class="main">
		
	</div>
</body>
</html>